Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
include/Makefile
include/WIP.h
include/param-list.c
include/param-list.h
include/verbosities.c
include/verbosities.h
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/spew
stamp-h1
